version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  # Base error handler for rate limiting and scroll ID expiration
  base_error_handler:
    type: DefaultErrorHandler
    max_retries: 10
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: "Retry-After"
      - type: ExponentialBackoffStrategy
        factor: 2
        max_interval: 300
      - type: ConstantBackoffStrategy
        backoff_time_in_seconds: 60
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [429]
        error_message: "Rate limit exceeded. Retrying with exponential backoff strategy."
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [400]
        error_message_contains: "scrollId"
        error_message: "ScrollId expired due to rate limiting delays. Please restart the sync."
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]
        error_message: "Server error. Retrying request."
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401, 403]
        failure_type: config_error
        error_message: "Authentication failed. Please check your API key."

  # API Budget for rate limiting - 1 request every 5 seconds for debugging
  api_budget:
    type: HTTPAPIBudget
    ratelimit_reset_header: "X-RateLimit-Reset"
    ratelimit_remaining_header: "X-RateLimit-Remaining"
    status_codes_for_ratelimit_hit: [429]
    policies:
      - type: MovingWindowCallRatePolicy
        rates:
          - limit: 6
            interval: PT1M
        matchers:
          - method: GET
            url_base: https://api.aptrinsic.com
            url_path_pattern: ".*"

  # Base requester with error handling and API budget
  base_requester:
    type: HttpRequester
    url_base: https://api.aptrinsic.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-APTRINSIC-API-KEY
    error_handler: "#/definitions/base_error_handler"
    api_budget: "#/definitions/api_budget"

  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts
          request_parameters:
            pageSize: "1000"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.scrollId }}"
            stop_condition: "{{ response.accounts | length < 1000 }}"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          The Aptrinsic API Key which is recieved from the dashboard settings
          (ref - https://app.aptrinsic.com/settings/api-keys)
        order: 0
      start_date:
        type: string
        title: Start Date
        description: >-
          The date from which you'd like to replicate data for incremental streams, in the format YYYY-MM-DDTHH:mm:ss.SSSZ.
          All data generated after this date will be replicated.
        examples:
          - "2020-01-01T00:00:00.000Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
        format: date-time
        order: 1
    additionalProperties: true

streams:
  - $ref: "#/definitions/streams/accounts"
