version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - admin_attributes
    - user_attributes
definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /accounts
          http_method: GET
          request_parameters:
            lastModifiedDate: "{{ stream_slice.get('lastModifiedDate', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedDate
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            createDate:
              type:
                - "null"
                - string
            customAttributes:
              type:
                - "null"
                - object
              additionalProperties: true
            dunsNumber:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            industry:
              type:
                - "null"
                - string
            lastModifiedDate:
              type:
                - "null"
                - string
            lastSeenDate:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - string
            naicsCode:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            numberOfEmployees:
              type:
                - "null"
                - string
            numberOfUsers:
              type:
                - "null"
                - string
            parentGroupId:
              type:
                - "null"
                - string
            plan:
              type:
                - "null"
                - string
            propertyKeys:
              type:
                - "null"
                - array
              items:
                location:
                  type:
                    - "null"
                    - string
            sfdcId:
              type:
                - "null"
                - string
            sicCode:
              type:
                - "null"
                - string
            trackedSubscriptionId:
              type:
                - "null"
                - string
            website:
              type:
                - "null"
                - string
          title: Accounts Schema
    admin_attributes:
      type: DeclarativeStream
      name: admin_attributes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /admin/model/account/attributes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 5
            cursor_value: "{{ last_record['scrollId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            apiName:
              type:
                - "null"
                - string
            createdDate:
              type:
                - "null"
                - number
            defaultValue:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            internalName:
              type:
                - "null"
                - string
            modifiedDate:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            origin:
              type:
                - "null"
                - string
            state:
              type:
                - "null"
                - string
          title: User Attributes Schema
    articles:
      type: DeclarativeStream
      name: articles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /articles
          http_method: GET
          request_parameters:
            modifiedDate: "{{ stream_slice.get('modifiedDate', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - articleExternalViewList
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modifiedDate
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            articleKCs:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  kcId:
                    type:
                      - "null"
                      - string
                  kcName:
                    type:
                      - "null"
                      - string
            articleName:
              type:
                - "null"
                - string
            author:
              type:
                - "null"
                - string
            createdDate:
              type:
                - "null"
                - number
            id:
              type:
                - "null"
                - string
            modifiedBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            modifiedDate:
              type:
                - "null"
                - number
            productId:
              type:
                - "null"
                - string
            productName:
              type:
                - "null"
                - string
            releaseDate:
              type:
                - "null"
                - string
            viewType:
              type:
                - "null"
                - string
          title: Articles Schema
    feature:
      type: DeclarativeStream
      name: feature
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /feature
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - features
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
              enum:
                - FEATURE
                - MODULE
            featureLabels:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                color:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            parentFeatureId:
              type:
                - "null"
                - string
            propertyKey:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
              enum:
                - ACTIVATED
                - DELETED
          title: Feature Schema
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /segment
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
          title: Segment Schema
    kcbot:
      type: DeclarativeStream
      name: kcbot
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /kcbot
          http_method: GET
          request_parameters:
            modifiedDate: "{{ stream_slice.get('modifiedDate', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - kcList
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modifiedDate
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            createdBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            createdDate:
              type:
                - "null"
                - number
            description:
              type:
                - "null"
                - string
            environments:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            id:
              type:
                - "null"
                - string
            modifiedBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            modifiedDate:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            priority:
              type:
                - "null"
                - number
            productId:
              type:
                - "null"
                - string
            productName:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
          title: KCBot Schema
    user_attributes:
      type: DeclarativeStream
      name: user_attributes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /admin/model/user/attributes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 5
            cursor_value: "{{ last_record['scrollId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            apiName:
              type:
                - "null"
                - string
            createdDate:
              type:
                - "null"
                - number
            defaultValue:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            internalName:
              type:
                - "null"
                - string
            modifiedDate:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            origin:
              type:
                - "null"
                - string
            state:
              type:
                - "null"
                - string
          title: User Attributes Schema
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /users
          http_method: GET
          request_parameters:
            lastModifiedDate: "{{ stream_slice.get('lastModifiedDate', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedDate
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
              enum:
                - LEAD
                - USER
                - VISITOR
                - EMPTY_USER_TYPE
            accountId:
              type:
                - "null"
                - string
            aptrinsicId:
              type:
                - "null"
                - string
            createDate:
              type:
                - "null"
                - integer
              format: int64
            email:
              type:
                - "null"
                - string
            firstName:
              type:
                - "null"
                - string
            firstVisitDate:
              type:
                - "null"
                - integer
              format: int64
            gender:
              type:
                - "null"
                - string
              enum:
                - MALE
                - FEMALE
                - OTHER
                - EMPTY_GENDER
            globalUnsubscribe:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - string
              description: Synonym for identifyId, output only, not filterable
            identifyId:
              type:
                - "null"
                - string
            lastInferredLocation:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                continent:
                  type:
                    - "null"
                    - string
                coordinates:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    latitude:
                      type:
                        - "null"
                        - number
                    longitude:
                      type:
                        - "null"
                        - number
                countryCode:
                  type:
                    - "null"
                    - string
                countryName:
                  type:
                    - "null"
                    - string
                postalCode:
                  type:
                    - "null"
                    - string
                regionName:
                  type:
                    - "null"
                    - string
                stateCode:
                  type:
                    - "null"
                    - string
                stateName:
                  type:
                    - "null"
                    - string
                street:
                  type:
                    - "null"
                    - string
                timeZone:
                  type:
                    - "null"
                    - string
            lastModifiedDate:
              type:
                - "null"
                - integer
              format: int64
            lastName:
              type:
                - "null"
                - string
            lastSeenDate:
              type:
                - "null"
                - integer
              format: int64
            lastVisitedUserAgentData:
              type:
                - "null"
                - array
              items:
                propertyKey:
                  type:
                    - "null"
                    - string
                userAgent:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    browserType:
                      type:
                        - "null"
                        - string
                    browserVersion:
                      type:
                        - "null"
                        - string
                    device:
                      type:
                        - "null"
                        - string
                    platformType:
                      type:
                        - "null"
                        - string
                    platformVersion:
                      type:
                        - "null"
                        - string
                    rawUserAgent:
                      type:
                        - "null"
                        - string
            location:
              type:
                - "null"
                - string
            numberOfVisits:
              type:
                - "null"
                - integer
              format: int32
            phone:
              type:
                - "null"
                - string
            propertyKeys:
              type:
                - "null"
                - array
              description: Aptrinsic Tag Key, at least one is required
              examples:
                - - AP-XXXXXXXXXX-2
              items:
                type:
                  - "null"
                  - string
            role:
              type:
                - "null"
                - string
            score:
              type:
                - "null"
                - integer
              format: int64
            sfdcContactId:
              type:
                - "null"
                - string
            signUpDate:
              type:
                - "null"
                - integer
              format: int64
            subscriptionId:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
          title: Users Schema
    feature_events:
      type: DeclarativeStream
      name: feature_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /events
          http_method: GET
          request_parameters:
            eventType: "FEATURE"
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            eventType:
              type:
                - "null"
                - string
              enum:
                - FEATURE
            eventName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            properties:
              type:
                - "null"
                - object
              additionalProperties: true
            featureId:
              type:
                - "null"
                - string
            featureName:
              type:
                - "null"
                - string
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Feature Events Schema
    page_events:
      type: DeclarativeStream
      name: page_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /events
          http_method: GET
          request_parameters:
            eventType: "PAGE"
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            eventType:
              type:
                - "null"
                - string
              enum:
                - PAGE
            eventName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            properties:
              type:
                - "null"
                - object
              additionalProperties: true
            pageUrl:
              type:
                - "null"
                - string
            pageTitle:
              type:
                - "null"
                - string
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Page Events Schema
    session_events:
      type: DeclarativeStream
      name: session_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /events
          http_method: GET
          request_parameters:
            eventType: "SESSION"
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            eventType:
              type:
                - "null"
                - string
              enum:
                - SESSION
            eventName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            properties:
              type:
                - "null"
                - object
              additionalProperties: true
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Session Events Schema
    identify_events:
      type: DeclarativeStream
      name: identify_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /events
          http_method: GET
          request_parameters:
            eventType: "IDENTIFY"
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            eventType:
              type:
                - "null"
                - string
              enum:
                - IDENTIFY
            eventName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            properties:
              type:
                - "null"
                - object
              additionalProperties: true
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Identify Events Schema
    custom_events:
      type: DeclarativeStream
      name: custom_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /events
          http_method: GET
          request_parameters:
            eventType: "CUSTOM"
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            eventType:
              type:
                - "null"
                - string
              enum:
                - CUSTOM
            eventName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            properties:
              type:
                - "null"
                - object
              additionalProperties: true
              description: "Custom event properties - up to 50 properties per event"
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Custom Events Schema
    click_events:
      type: DeclarativeStream
      name: click_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /events
          http_method: GET
          request_parameters:
            eventType: "CLICK"
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            eventType:
              type:
                - "null"
                - string
              enum:
                - CLICK
            eventName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            properties:
              type:
                - "null"
                - object
              additionalProperties: true
            featureId:
              type:
                - "null"
                - string
            featureName:
              type:
                - "null"
                - string
            pageUrl:
              type:
                - "null"
                - string
            pageTitle:
              type:
                - "null"
                - string
            elementText:
              type:
                - "null"
                - string
            elementSelector:
              type:
                - "null"
                - string
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Events Schema
    sessions:
      type: DeclarativeStream
      name: sessions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /sessions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - sessions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            startTime:
              type:
                - "null"
                - integer
              format: int64
            endTime:
              type:
                - "null"
                - integer
              format: int64
            duration:
              type:
                - "null"
                - number
            pageViews:
              type:
                - "null"
                - integer
            events:
              type:
                - "null"
                - integer
            userAgent:
              type:
                - "null"
                - string
            ipAddress:
              type:
                - "null"
                - string
            referrer:
              type:
                - "null"
                - string
            landingPage:
              type:
                - "null"
                - string
            exitPage:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                country:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
          title: Sessions Schema
    page_views:
      type: DeclarativeStream
      name: page_views
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /pageviews
          http_method: GET
          request_parameters:
            startDate: "{{ stream_slice.get('start_time', '') }}"
            endDate: "{{ stream_slice.get('end_time', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - pageViews
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            accountId:
              type:
                - "null"
                - string
            sessionId:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - integer
              format: int64
            url:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
            referrer:
              type:
                - "null"
                - string
            timeOnPage:
              type:
                - "null"
                - number
            engagementTime:
              type:
                - "null"
                - number
            scrollDepth:
              type:
                - "null"
                - number
            userAgent:
              type:
                - "null"
                - string
            loadTime:
              type:
                - "null"
                - number
          title: Page Views Schema
    engagements:
      type: DeclarativeStream
      name: engagements
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /engagements
          http_method: GET
          request_parameters:
            modifiedDate: "{{ stream_slice.get('modifiedDate', '') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - engagements
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 500
            cursor_value: "{{ last_record['scrollId'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modifiedDate
        datetime_format: "%s"
        cursor_granularity: PT1S
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            type:
              type:
                - "null"
                - string
              enum:
                - DIALOG
                - TOOLTIP
                - GUIDE
                - SURVEY
                - ANNOUNCEMENT
            state:
              type:
                - "null"
                - string
              enum:
                - ACTIVE
                - INACTIVE
                - DRAFT
            createdBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            createdDate:
              type:
                - "null"
                - integer
              format: int64
            modifiedBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            modifiedDate:
              type:
                - "null"
                - integer
              format: int64
            audienceRules:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            stats:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                views:
                  type:
                    - "null"
                    - integer
                completions:
                  type:
                    - "null"
                    - integer
                dismissals:
                  type:
                    - "null"
                    - integer
          title: Engagements Schema
  base_requester:
    type: HttpRequester
    url_base: https://api.aptrinsic.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-APTRINSIC-API-KEY
streams:
  - type: DeclarativeStream
    name: accounts
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /accounts
        http_method: GET
        request_parameters:
          lastModifiedDate: "{{ stream_slice.get('lastModifiedDate', '') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - accounts
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: lastModifiedDate
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      cursor_granularity: PT1S
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', '2020-01-01T00:00:00.000Z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          createDate:
            type:
              - "null"
              - string
          customAttributes:
            type:
              - "null"
              - object
            additionalProperties: true
          dunsNumber:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          industry:
            type:
              - "null"
              - string
          lastModifiedDate:
            type:
              - "null"
              - string
          lastSeenDate:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - string
          naicsCode:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          numberOfEmployees:
            type:
              - "null"
              - string
          numberOfUsers:
            type:
              - "null"
              - string
          parentGroupId:
            type:
              - "null"
              - string
          plan:
            type:
              - "null"
              - string
          propertyKeys:
            type:
              - "null"
              - array
            items:
              location:
                type:
                  - "null"
                  - string
          sfdcId:
            type:
              - "null"
              - string
          sicCode:
            type:
              - "null"
              - string
          trackedSubscriptionId:
            type:
              - "null"
              - string
          website:
            type:
              - "null"
              - string
        title: Accounts Schema
  - type: DeclarativeStream
    name: admin_attributes
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /admin/model/account/attributes
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 5
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
          apiName:
            type:
              - "null"
              - string
          createdDate:
            type:
              - "null"
              - number
          defaultValue:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          internalName:
            type:
              - "null"
              - string
          modifiedDate:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          origin:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
        title: User Attributes Schema
  - type: DeclarativeStream
    name: articles
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /articles
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - articleExternalViewList
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          articleKCs:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                kcId:
                  type:
                    - "null"
                    - string
                kcName:
                  type:
                    - "null"
                    - string
          articleName:
            type:
              - "null"
              - string
          author:
            type:
              - "null"
              - string
          createdDate:
            type:
              - "null"
              - number
          id:
            type:
              - "null"
              - string
          modifiedBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          modifiedDate:
            type:
              - "null"
              - number
          productId:
            type:
              - "null"
              - string
          productName:
            type:
              - "null"
              - string
          releaseDate:
            type:
              - "null"
              - string
          viewType:
            type:
              - "null"
              - string
        title: Articles Schema
  - type: DeclarativeStream
    name: feature
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /feature
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - features
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
            enum:
              - FEATURE
              - MODULE
          featureLabels:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              color:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          parentFeatureId:
            type:
              - "null"
              - string
          propertyKey:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
            enum:
              - ACTIVATED
              - DELETED
        title: Feature Schema
  - type: DeclarativeStream
    name: segments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /segment
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - segments
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
        title: Segment Schema
  - type: DeclarativeStream
    name: kcbot
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /kcbot
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - kcList
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          createdBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          createdDate:
            type:
              - "null"
              - number
          description:
            type:
              - "null"
              - string
          environments:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          id:
            type:
              - "null"
              - string
          modifiedBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          modifiedDate:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          priority:
            type:
              - "null"
              - number
          productId:
            type:
              - "null"
              - string
          productName:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
        title: KCBot Schema
  - type: DeclarativeStream
    name: user_attributes
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /admin/model/user/attributes
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 5
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
          apiName:
            type:
              - "null"
              - string
          createdDate:
            type:
              - "null"
              - number
          defaultValue:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          internalName:
            type:
              - "null"
              - string
          modifiedDate:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          origin:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
        title: User Attributes Schema
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
            enum:
              - LEAD
              - USER
              - VISITOR
              - EMPTY_USER_TYPE
          accountId:
            type:
              - "null"
              - string
          aptrinsicId:
            type:
              - "null"
              - string
          createDate:
            type:
              - "null"
              - integer
            format: int64
          email:
            type:
              - "null"
              - string
          firstName:
            type:
              - "null"
              - string
          firstVisitDate:
            type:
              - "null"
              - integer
            format: int64
          gender:
            type:
              - "null"
              - string
            enum:
              - MALE
              - FEMALE
              - OTHER
              - EMPTY_GENDER
          globalUnsubscribe:
            type:
              - "null"
              - boolean
          id:
            type:
              - "null"
              - string
            description: Synonym for identifyId, output only, not filterable
          identifyId:
            type:
              - "null"
              - string
          lastInferredLocation:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              city:
                type:
                  - "null"
                  - string
              continent:
                type:
                  - "null"
                  - string
              coordinates:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  latitude:
                    type:
                      - "null"
                      - number
                  longitude:
                    type:
                      - "null"
                      - number
              countryCode:
                type:
                  - "null"
                  - string
              countryName:
                type:
                  - "null"
                  - string
              postalCode:
                type:
                  - "null"
                  - string
              regionName:
                type:
                  - "null"
                  - string
              stateCode:
                type:
                  - "null"
                  - string
              stateName:
                type:
                  - "null"
                  - string
              street:
                type:
                  - "null"
                  - string
              timeZone:
                type:
                  - "null"
                  - string
          lastModifiedDate:
            type:
              - "null"
              - integer
            format: int64
          lastName:
            type:
              - "null"
              - string
          lastSeenDate:
            type:
              - "null"
              - integer
            format: int64
          lastVisitedUserAgentData:
            type:
              - "null"
              - array
            items:
              propertyKey:
                type:
                  - "null"
                  - string
              userAgent:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  browserType:
                    type:
                      - "null"
                      - string
                  browserVersion:
                    type:
                      - "null"
                      - string
                  device:
                    type:
                      - "null"
                      - string
                  platformType:
                    type:
                      - "null"
                      - string
                  platformVersion:
                    type:
                      - "null"
                      - string
                  rawUserAgent:
                    type:
                      - "null"
                      - string
          location:
            type:
              - "null"
              - string
          numberOfVisits:
            type:
              - "null"
              - integer
            format: int32
          phone:
            type:
              - "null"
              - string
          propertyKeys:
            type:
              - "null"
              - array
            description: Aptrinsic Tag Key, at least one is required
            examples:
              - - AP-XXXXXXXXXX-2
            items:
              type:
                - "null"
                - string
          role:
            type:
              - "null"
              - string
          score:
            type:
              - "null"
              - integer
            format: int64
          sfdcContactId:
            type:
              - "null"
              - string
          signUpDate:
            type:
              - "null"
              - integer
            format: int64
          subscriptionId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
        title: Users Schema
  - type: DeclarativeStream
    name: events
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /events
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - events
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          eventType:
            type:
              - "null"
              - string
            enum:
              - FEATURE
              - PAGE
              - SESSION
              - IDENTIFY
              - CUSTOM
              - CLICK
          eventName:
            type:
              - "null"
              - string
          userId:
            type:
              - "null"
              - string
          accountId:
            type:
              - "null"
              - string
          sessionId:
            type:
              - "null"
              - string
          timestamp:
            type:
              - "null"
              - integer
            format: int64
          properties:
            type:
              - "null"
              - object
            additionalProperties: true
          featureId:
            type:
              - "null"
              - string
          featureName:
            type:
              - "null"
              - string
          pageUrl:
            type:
              - "null"
              - string
          pageTitle:
            type:
              - "null"
              - string
          elementText:
            type:
              - "null"
              - string
          elementSelector:
            type:
              - "null"
              - string
          userAgent:
            type:
              - "null"
              - string
          ipAddress:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              city:
                type:
                  - "null"
                  - string
              country:
                type:
                  - "null"
                  - string
              region:
                type:
                  - "null"
                  - string
        title: Events Schema
  - type: DeclarativeStream
    name: sessions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /sessions
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - sessions
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          userId:
            type:
              - "null"
              - string
          accountId:
            type:
              - "null"
              - string
          startTime:
            type:
              - "null"
              - integer
            format: int64
          endTime:
            type:
              - "null"
              - integer
            format: int64
          duration:
            type:
              - "null"
              - number
          pageViews:
            type:
              - "null"
              - integer
          events:
            type:
              - "null"
              - integer
          userAgent:
            type:
              - "null"
              - string
          ipAddress:
            type:
              - "null"
              - string
          referrer:
            type:
              - "null"
              - string
          landingPage:
            type:
              - "null"
              - string
          exitPage:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              city:
                type:
                  - "null"
                  - string
              country:
                type:
                  - "null"
                  - string
              region:
                type:
                  - "null"
                  - string
        title: Sessions Schema
  - type: DeclarativeStream
    name: page_views
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /pageviews
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - pageViews
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          userId:
            type:
              - "null"
              - string
          accountId:
            type:
              - "null"
              - string
          sessionId:
            type:
              - "null"
              - string
          timestamp:
            type:
              - "null"
              - integer
            format: int64
          url:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          referrer:
            type:
              - "null"
              - string
          timeOnPage:
            type:
              - "null"
              - number
          engagementTime:
            type:
              - "null"
              - number
          scrollDepth:
            type:
              - "null"
              - number
          userAgent:
            type:
              - "null"
              - string
          loadTime:
            type:
              - "null"
              - number
        title: Page Views Schema
  - type: DeclarativeStream
    name: engagements
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /engagements
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - engagements
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
            enum:
              - DIALOG
              - TOOLTIP
              - GUIDE
              - SURVEY
              - ANNOUNCEMENT
          state:
            type:
              - "null"
              - string
            enum:
              - ACTIVE
              - INACTIVE
              - DRAFT
          createdBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          createdDate:
            type:
              - "null"
              - integer
            format: int64
          modifiedBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          modifiedDate:
            type:
              - "null"
              - integer
            format: int64
          audienceRules:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
          stats:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              views:
                type:
                  - "null"
                  - integer
              completions:
                type:
                  - "null"
                  - integer
              dismissals:
                type:
                  - "null"
                  - integer
        title: Engagements Schema
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          The Aptrinsic API Key which is recieved from the dashboard settings
          (ref - https://app.aptrinsic.com/settings/api-keys)
        order: 0
      start_date:
        type: string
        title: Start Date
        description: >-
          The date from which you'd like to replicate data for incremental streams, in the format YYYY-MM-DDTHH:mm:ss.SSSZ.
          All data generated after this date will be replicated.
        examples:
          - "2020-01-01T00:00:00.000Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
        format: date-time
        order: 1
    additionalProperties: true
metadata:
  autoImportSchema:
    accounts: false
    admin_attributes: false
    articles: false
    feature: false
    segments: false
    kcbot: false
    user_attributes: false
    users: false
    feature_events: false
    page_events: false
    session_events: false
    identify_events: false
    custom_events: false
    click_events: false
    sessions: false
    page_views: false
    engagements: false
schemas:
  accounts:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      createDate:
        type:
          - "null"
          - string
      customAttributes:
        type:
          - "null"
          - object
        additionalProperties: true
      dunsNumber:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      industry:
        type:
          - "null"
          - string
      lastModifiedDate:
        type:
          - "null"
          - string
      lastSeenDate:
        type:
          - "null"
          - string
      location:
        type:
          - "null"
          - string
      naicsCode:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      numberOfEmployees:
        type:
          - "null"
          - string
      numberOfUsers:
        type:
          - "null"
          - string
      parentGroupId:
        type:
          - "null"
          - string
      plan:
        type:
          - "null"
          - string
      propertyKeys:
        type:
          - "null"
          - array
        items:
          location:
            type:
              - "null"
              - string
      sfdcId:
        type:
          - "null"
          - string
      sicCode:
        type:
          - "null"
          - string
      trackedSubscriptionId:
        type:
          - "null"
          - string
      website:
        type:
          - "null"
          - string
    title: Accounts Schema
  admin_attributes:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      apiName:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - number
      defaultValue:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      internalName:
        type:
          - "null"
          - string
      modifiedDate:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      origin:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
    title: User Attributes Schema
  articles:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      articleKCs:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            kcId:
              type:
                - "null"
                - string
            kcName:
              type:
                - "null"
                - string
      articleName:
        type:
          - "null"
          - string
      author:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - number
      id:
        type:
          - "null"
          - string
      modifiedBy:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      modifiedDate:
        type:
          - "null"
          - number
      productId:
        type:
          - "null"
          - string
      productName:
        type:
          - "null"
          - string
      releaseDate:
        type:
          - "null"
          - string
      viewType:
        type:
          - "null"
          - string
    title: Articles Schema
  feature:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        enum:
          - FEATURE
          - MODULE
      featureLabels:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          color:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      parentFeatureId:
        type:
          - "null"
          - string
      propertyKey:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
        enum:
          - ACTIVATED
          - DELETED
    title: Feature Schema
  segments:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
    title: Segment Schema
  kcbot:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      createdBy:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      createdDate:
        type:
          - "null"
          - number
      description:
        type:
          - "null"
          - string
      environments:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      id:
        type:
          - "null"
          - string
      modifiedBy:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      modifiedDate:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      priority:
        type:
          - "null"
          - number
      productId:
        type:
          - "null"
          - string
      productName:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
    title: KCBot Schema
  user_attributes:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      apiName:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - number
      defaultValue:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      internalName:
        type:
          - "null"
          - string
      modifiedDate:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      origin:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
    title: User Attributes Schema
  feature_events:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      eventType:
        type:
          - "null"
[...]
