version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  # Base error handler for rate limiting and scroll ID expiration
  base_error_handler:
    type: DefaultErrorHandler
    max_retries: 10
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: "Retry-After"
      - type: ExponentialBackoffStrategy
        factor: 2
        max_interval: 300
      - type: ConstantBackoffStrategy
        backoff_time_in_seconds: 60
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [429]
        error_message: "Rate limit exceeded. Retrying with exponential backoff strategy."
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [400]
        error_message_contains: "scrollId"
        error_message: "ScrollId expired due to rate limiting delays. Please restart the sync."
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]
        error_message: "Server error. Retrying request."
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401, 403]
        failure_type: config_error
        error_message: "Authentication failed. Please check your API key."

  # API Budget for rate limiting - 1 request every 5 seconds for debugging
  api_budget:
    type: HTTPAPIBudget
    ratelimit_reset_header: "X-RateLimit-Reset"
    ratelimit_remaining_header: "X-RateLimit-Remaining"
    status_codes_for_ratelimit_hit: [429]
    policies:
      - type: MovingWindowCallRatePolicy
        rates:
          - limit: 6
            interval: PT1M
        matchers:
          - method: GET
            url_base: https://api.aptrinsic.com
            url_path_pattern: ".*"

  # Base requester with error handling and API budget
  base_requester:
    type: HttpRequester
    url_base: https://api.aptrinsic.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-APTRINSIC-API-KEY
    error_handler: "#/definitions/base_error_handler"
    api_budget: "#/definitions/api_budget"

  # Base paginator for scroll-based pagination
  scroll_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: scrollId
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.scrollId }}"

  # Accounts-specific paginator
  accounts_paginator:
    $ref: "#/definitions/scroll_paginator"
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.scrollId }}"
      stop_condition: "{{ response.accounts | length < 1000 }}"

  # Users-specific paginator
  users_paginator:
    $ref: "#/definitions/scroll_paginator"
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.scrollId }}"
      stop_condition: "{{ response.users | length < 1000 }}"

  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts
          request_parameters:
            pageSize: "1000"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
        paginator:
          $ref: "#/definitions/accounts_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          request_parameters:
            pageSize: "1000"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          $ref: "#/definitions/users_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          The Aptrinsic API Key which is recieved from the dashboard settings
          (ref - https://app.aptrinsic.com/settings/api-keys)
        order: 0
      start_date:
        type: string
        title: Start Date
        description: >-
          The date from which you'd like to replicate data for incremental streams, in the format YYYY-MM-DDTHH:mm:ss.SSSZ.
          All data generated after this date will be replicated.
        examples:
          - "2020-01-01T00:00:00.000Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
        format: date-time
        order: 1
    additionalProperties: true

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/users"

schemas:
  accounts:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      createDate:
        type:
          - "null"
          - number
      customAttributes:
        type:
          - "null"
          - object
        additionalProperties: true
      dunsNumber:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      industry:
        type:
          - "null"
          - string
      lastModifiedDate:
        type:
          - "null"
          - number
      lastSeenDate:
        type:
          - "null"
          - number
      location:
        type:
          - "null"
          - object
        properties:
          countryName:
            type:
              - "null"
              - string
          countryCode:
            type:
              - "null"
              - string
          stateName:
            type:
              - "null"
              - string
          stateCode:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          street:
            type:
              - "null"
              - string
          postalCode:
            type:
              - "null"
              - string
          continent:
            type:
              - "null"
              - string
          regionName:
            type:
              - "null"
              - string
          timeZone:
            type:
              - "null"
              - string
          coordinates:
            type:
              - "null"
              - object
            properties:
              latitude:
                type:
                  - "null"
                  - number
              longitude:
                type:
                  - "null"
                  - number
      naicsCode:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      numberOfEmployees:
        type:
          - "null"
          - number
      numberOfUsers:
        type:
          - "null"
          - number
      parentGroupId:
        type:
          - "null"
          - string
      plan:
        type:
          - "null"
          - string
      propertyKeys:
        type:
          - "null"
          - array
      sfdcId:
        type:
          - "null"
          - string
      sicCode:
        type:
          - "null"
          - string
      trackedSubscriptionId:
        type:
          - "null"
          - string
      website:
        type:
          - "null"
          - string
    title: Accounts Schema
  users:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        enum:
          - LEAD
          - USER
          - VISITOR
          - EMPTY_USER_TYPE
      accountId:
        type:
          - "null"
          - string
      aptrinsicId:
        type:
          - "null"
          - string
      createDate:
        type:
          - "null"
          - integer
        format: int64
      email:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      firstVisitDate:
        type:
          - "null"
          - integer
        format: int64
      gender:
        type:
          - "null"
          - string
        enum:
          - MALE
          - FEMALE
          - OTHER
          - EMPTY_GENDER
      globalUnsubscribe:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - string
        description: Synonym for identifyId, output only, not filterable
      identifyId:
        type:
          - "null"
          - string
      lastInferredLocation:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          countryName:
            type:
              - "null"
              - string
          countryCode:
            type:
              - "null"
              - string
          coordinates:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              latitude:
                type:
                  - "null"
                  - number
              longitude:
                type:
                  - "null"
                  - number
          stateName:
            type:
              - "null"
              - string
          stateCode:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          street:
            type:
              - "null"
              - string
          postalCode:
            type:
              - "null"
              - string
          continent:
            type:
              - "null"
              - string
          regionName:
            type:
              - "null"
              - string
          timeZone:
            type:
              - "null"
              - string
      lastModifiedDate:
        type:
          - "null"
          - integer
        format: int64
      lastName:
        type:
          - "null"
          - string
      lastSeenDate:
        type:
          - "null"
          - integer
        format: int64
      lastVisitedUserAgentData:
        type:
          - "null"
          - array
        items:
          propertyKey:
            type:
              - "null"
              - string
          userAgent:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              browserType:
                type:
                  - "null"
                  - string
              browserVersion:
                type:
                  - "null"
                  - string
              device:
                type:
                  - "null"
                  - string
              platformType:
                type:
                  - "null"
                  - string
              platformVersion:
                type:
                  - "null"
                  - string
              rawUserAgent:
                type:
                  - "null"
                  - string
      location:
        type:
          - "null"
          - object
        properties:
          countryName:
            type:
              - "null"
              - string
          countryCode:
            type:
              - "null"
              - string
          stateName:
            type:
              - "null"
              - string
          stateCode:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          street:
            type:
              - "null"
              - string
          postalCode:
            type:
              - "null"
              - string
          continent:
            type:
              - "null"
              - string
          regionName:
            type:
              - "null"
              - string
          timeZone:
            type:
              - "null"
              - string
          coordinates:
            type:
              - "null"
              - object
            properties:
              latitude:
                type:
                  - "null"
                  - number
              longitude:
                type:
                  - "null"
                  - number
      numberOfVisits:
        type:
          - "null"
          - integer
        format: int32
      phone:
        type:
          - "null"
          - string
      propertyKeys:
        type:
          - "null"
          - array
        description: Aptrinsic Tag Key, at least one is required
        examples:
          - - AP-XXXXXXXXXX-2
        items:
          type:
            - "null"
            - string
      role:
        type:
          - "null"
          - string
      score:
        type:
          - "null"
          - integer
        format: int64
      sfdcContactId:
        type:
          - "null"
          - string
      signUpDate:
        type:
          - "null"
          - integer
        format: int64
      subscriptionId:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      customAttributes:
        type:
          - "null"
          - object
        additionalProperties: true
    title: Users Schema
